.home-container {
  gap: 1.2rem;
}

.plus {
  --size: 4em;
  width: var(--size);
  height: var(--size);
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 100;
}

.wish-item-cards__container {
  width: 100%;
  display: grid;
  place-items: center;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
}
